.idea
.classpath
.project
*.iml
.DS_Store
.gitattributes
**/.playwright-mcp
.ai
.github
**/logs
**/target
**/node_modules
**/static/*-ui
**/package-lock.json
**/*-test.yml
**/*-prod.yml
**/*-gray.yml
**/*-me.yml
**/*-test.xml
**/*-prod.xml
**/*-gray.xml
**/*-me.xml
**/components.d.ts
**/.mcp-class-index.json